/* Logo Styling */
#logo-overflow {
    transform-origin: left top;
    transform: scaleY(2.0);
}

/* Navbar styling*/
.mynav {
    background: #123771;
}

/*custom navbar buttons */

.nav-item {
    background: #5075AF;
    border-bottom: rgba(0,0,0,0.7) solid 0.3em;
    border-right: rgba(0,0,0,0.7) solid 0.3em;
}

.nav-item:active {
    background: rgba(80, 117, 175, 0.8);
    border-bottom: rgba(0,0,0,0.1) solid 0.0em;
    border-right: rgba(0,0,0,0.1) solid 0.0em;
    border-left: rgba(0,0,0,0.1) solid 0.3em;
    border-top: rgba(0,0,0,0.1) solid 0.3em;
}

.nav-link {
    color: white !important;
}

